{% extends "layout.html" %}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Restablecer Contraseña</h2>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page pt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form method="post" action="{{ url_for('reset_password', token=token) }}" class="php-email-form bg-light p-4 border rounded">
          {% if token_valid %}
            <div class="form-group mt-3">
              <label for="password">Nueva Contraseña</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu nueva contraseña" required>
            </div>
            <div class="my-3">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-warning">
                    {{ messages[0] }}
                  </div>
                {% endif %}
              {% endwith %}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
            </div>
          {% else %}
            <div class="alert alert-danger">
              El enlace para restablecer la contraseña es inválido o ha expirado.
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
